# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/

# Datos y Modelos Pesados (CRÍTICO NO SUBIR A GITHUB)
data/raw/
data/processed/
*.nc
*.xlsx
*.csv
*.pth
*.pt

# Resultados, Logs y Gráficos de Experimentos
experiments/mlruns/
experiments/runs/
*.png
*.pdf
*.log
*.aux
*.out
*.toc

# Entornos y Editores
.vscode/
.idea/
.ipynb_checkpoints/
